body {
  background-color: #73dbdb;
  color: black;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

#shokotitle {
  font-size: 68px;
}

#subtitle {
  margin-top: -60px;
  font-size: 34px;
  font-weight: 800;
}

#enter {
  font-size: 48px;
}

#word {
  font-size: 68px;
}
