@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  background: linear-gradient(to bottom, #36c3d1 45%, #fff 60%);
  color: black;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-weight: 600;
}

#dazaria {
  font-size: 10px;
  margin-top: 100px;
  text-align: left;
}

input[type="text"] {
  font-size: 24px;
  font-family: 'Kanit', sans-serif;
}

input[type="text"]:focus {
  font-size: 48px;
  font-family: 'Kanit', sans-serif;
}

input[type="submit"] {
  font-size: 48px;
  color: white;
  background-color: black;
  font-family: 'Kanit', sans-serif;
}

input[type="submit"]:hover {
  font-size: 48px;
  color: white;
  background-color: black;
  font-family: 'Kanit', sans-serif;
}

input[type="submit"]:active {
  background-color: black;
  font-size: 48px;
  color: white;
}

input[type="submit"]:focus {
  background-color: grey;
  font-size: 48px;
  color: white;
}

#shokotitle {
  font-size: 68px;
}


#subtitle {
  margin-top: -70px;
  font-size: 36px;
  font-weight: 800;
}

#enter {
  font-size: 32px;
}

#word {
  font-size: 68px;
  margin-bottom: -20px;
}

#ipa {
  font-size: 32px;
}

#etymology {
  font-size: 32px;
}
