body {
  background-color: #36c3d1;
  color: green;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-weight: 600;
}

#shokotitle {
  font-size: 68px;
}

#subtitle {
  margin-top: -60px;
  font-size: 34px;
  font-weight: 800;
}

#enter {
  font-size: 48px;
}

#word {
  font-size: 68px;
}

#ipa {
  font-size: 32px;
}

#etymology {
  font-size: 32px;
}
