<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <head>
    <title>shoko</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <p class="navbar-text pull-right">
      <%= yield %>
    </p>
  </body>
</html>
